.App {
  text-align: center;
}

body {
  background-color: black;
  margin: 0px;
}
button{
  background-color: orange;
}
.makeStyles-headerButton-6:nth-child(5), .makeStyles-headerButton-6:nth-child(6) {
  color: #000;
  background-color: orange !important;
}
.makeStyles-submitButton-20 {
  width: 15%;
  margin: 10px 20px;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: orange !important;
}
.makeStyles-chooseFile-18 {
  color: #000;
  float: left;
  border: 1px solid orange !important;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  background: orange !important;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  border-radius: 2px;
}
.makeStyles-textFields-15 :nth-child(2) p {
  font-size: 1.2rem;
  margin-left: 0px;
  margin-right: 20px;
  color: orange !important;
}
.makeStyles-textFields-15 input {
  color: orange !important;
}